<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
            <resource id="Magento_Backend::stores">
                <resource id="Magento_Backend::stores_settings">
                    <resource id="Magento_Config::config">
                        <resource id="DamConsultants_Macfarlane::config" title="Macfarlane Credential" sortOrder="192012" />
                        <resource id="DamConsultants_Macfarlane::sync" title="Macfarlane Manual sync" sortOrder="192013" />
                        <resource id="DamConsultants_Macfarlane::cron" title="Macfarlane Cron" sortOrder="192014" />
                    </resource>
                </resource>
            </resource>
            <resource id="DamConsultants_Macfarlane::menu" title="Macfarlane Menu">
                <resource id="DamConsultants_Macfarlane::menu_item5" title="Macfarlane Submenu">
                    <resource id="DamConsultants_Macfarlane::menu_item1" title="Macfarlane Meta Property" sortOrder="192005" />
                </resource>
				<resource id="DamConsultants_Macfarlane::menu_item6" title="Macfarlane Cron Log">
                    <resource id="DamConsultants_Macfarlane::menu_item" title="Macfarlane Cron Action Log" sortOrder="192006" />
					<resource id="DamConsultants_Macfarlane::menu_item3" title="Macfarlane Replace Cron Action Log" sortOrder="192007" />
					<resource id="DamConsultants_Macfarlane::menu_item4" title="Macfarlane Delete Cron Action Log" sortOrder="192008" />
                </resource>
				<resource id="DamConsultants_Macfarlane::menu_item7" title="Macfarlane Manual sync Log">
                    <resource id="DamConsultants_Macfarlane::menu_item2" title="Macfarlane Synchronization Log" sortOrder="192009" />
                </resource>
				<resource id="DamConsultants_Macfarlane::menu_item8" title="Macfarlane Configuration Settings">
                    <resource id="DamConsultants_Macfarlane::settings" title="Macfarlane Configuration Settings" sortOrder="192010" />
                </resource>
            </resource>
        </resource>
     </resources>
   </acl>
</config>
