<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<preference for="Magento\Catalog\Block\Product\View\Gallery" type="DamConsultants\Macfarlane\Block\Product\View\Gallery" />
<preference for="Magento\Catalog\Block\Product\ImageFactory" type="DamConsultants\Macfarlane\Block\Product\ImageFactory" />
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="Change_Product_Image_In_Minicart" type="DamConsultants\Macfarlane\Plugin\Minicart\Image" sortOrder="1"/>
    </type>
</config>