<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
   <menu>
       <add id="DamConsultants_Macfarlane::menu"
           title="Macfarlane Sync. Log" module="DamConsultants_Macfarlane"
           sortOrder="10"
           resource="Magento_Backend::content"
           />
           <!-- START: new node -->
       <add id="DamConsultants_Macfarlane::menu_item"
           title="Cron Action Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           action="bynder/index/grid"
           resource="DamConsultants_Macfarlane::menu_item"
           />
       <!-- END:   new node -->
       <!-- START: new node -->
       <add id="DamConsultants_Macfarlane::menu_item2"
           title="Synchronization Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           action="bynder/index/sync"
           resource="DamConsultants_Macfarlane::menu_item2"
           />
       <!-- END:   new node -->
        <!-- START: new node -->
       <add id="DamConsultants_Macfarlane::menu_item1"
           title="Macfarlane MetaProperty " module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           action="bynder/index/metaproperty"
           resource="DamConsultants_Macfarlane::menu_item1"
           />
		<add id="DamConsultants_Macfarlane::menu_item4"
           title="Delete Cron Action Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           action="bynder/index/deletecrongrid"
           resource="DamConsultants_Macfarlane::menu_item4"
           />
       <!-- END:   new node -->
       <add id="DamConsultants_Macfarlane::settings" title="Configuration" module="DamConsultants_Macfarlane" sortOrder="10" resource="Magento_Backend::content" parent="DamConsultants_Macfarlane::menu" action="adminhtml/system_config/edit/section/bynderconfig"/>
   </menu>
</config> 