<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">  
   <menu>
       <add id="DamConsultants_Macfarlane::menu"
           title="Macfarlane" module="DamConsultants_Macfarlane"
           sortOrder="10"
           resource="Magento_Backend::content"
           />
           <!-- START: new node -->
		<add id="DamConsultants_Macfarlane::menu_item5"
           title="Meta properties setting" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           resource="DamConsultants_Macfarlane::menu_item5"
           />
		   
		<add id="DamConsultants_Macfarlane::menu_item1"
           title="Macfarlane MetaProperty " module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu_item5"
           action="bynder/index/metaproperty"
           resource="DamConsultants_Macfarlane::menu_item1"
           />
		  
		<add id="DamConsultants_Macfarlane::menu_item6"
           title="Cron Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           resource="DamConsultants_Macfarlane::menu_item6"
           />
       <add id="DamConsultants_Macfarlane::menu_item"
           title="Cron Action Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu_item6"
           action="bynder/index/grid"
           resource="DamConsultants_Macfarlane::menu_item"
           />
		<add id="DamConsultants_Macfarlane::menu_item3"
           title="Replace Cron Action Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu_item6"
           action="bynder/index/replacecrongrid"
           resource="DamConsultants_Macfarlane::menu_item3"
           />
		<add id="DamConsultants_Macfarlane::menu_item4"
           title="Delete Cron Action Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu_item6"
           action="bynder/index/deletecrongrid"
           resource="DamConsultants_Macfarlane::menu_item4"
           />
       <!-- END:   new node -->
       <!-- START: new node -->
	   
	   <add id="DamConsultants_Macfarlane::menu_item7"
           title="Manual sync Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           resource="DamConsultants_Macfarlane::menu_item7"
           />
       <add id="DamConsultants_Macfarlane::menu_item2"
           title="Synchronization Log" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu_item7"
           action="bynder/index/sync"
           resource="DamConsultants_Macfarlane::menu_item2"
           />
       <!-- END:   new node -->
        <!-- START: new node -->
       
		
       <!-- END:   new node -->
	    <add id="DamConsultants_Macfarlane::menu_item8"
           title="Configuration Settings" module="DamConsultants_Macfarlane"
           sortOrder="10" parent="DamConsultants_Macfarlane::menu"
           resource="DamConsultants_Macfarlane::menu_item8"
           />
       <add id="DamConsultants_Macfarlane::settings" title="Configuration" module="DamConsultants_Macfarlane" sortOrder="10" resource="DamConsultants_Macfarlane::settings" parent="DamConsultants_Macfarlane::menu_item8" action="adminhtml/system_config/edit/section/bynderconfig"/>
   </menu>
</config> 